<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:insert="fragments/head">
</head>
<body>
<header th:insert="fragments/header"></header>

<main>
    <div class="container">
        <h3 class="center">New Tutor</h3>
        <br>
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <form action="#" method="post" th:object="${tutor}" th:action="@{/tutors/save}">
                    <div class="input-field">
                        <input type="text" class="class-controller" id="tutorName" th:field="*{name}" autofocus required>
                        <label for="tutorName">Name</label>
                    </div>

                    <div class="input-field">
                        <input type="text" class="class-controller" id="surname" th:field="*{surname}" required>
                        <label for="surname">Surname</label>
                    </div>

                    <div class="input-field">
                        <input type="text" class="class-controller" id="email" th:field="*{email}" required>
                        <label for="email">Email</label>
                    </div>

                    <div class="input-field">
                        <input type="text" class="class-controller" id="description" th:field="*{description}" required>
                        <label for="description">Description</label>
                    </div>

                    <div class="input-field">
                        <input type="text" class="class-controller" id="imgUrl" th:field="*{imgUrl}" required>
                        <label for="imgUrl">Image URL</label>
                    </div>

                    <div class="center">
                        <button type="submit" class="btn">Confirm</button>
                        <a th:href="@{/tutors}" class="btn red lighten-1">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<br><br>
<footer class="page-footer teal" th:insert="fragments/footer"></footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
</body>
</html>
